/* pdf all dark v0.2, for Blue Topaz, dark style for exported pdf */

@media print {
  .markdown-preview-view {
    background-color: var(--background-primary) !important;
    color: var(--text-normal) !important;
    font-family: var(--font-family-major) !important;
  }
  
  .markdown-preview-view :not(font) > strong {
    -webkit-print-color-adjust: exact;
    color: var(--accent-strong);
  }

  .markdown-preview-view mark { 
    color: var(--text-highlight) !important;
  }

  /* Print URL After Links */
  /*
  a::after{
    content: " (" attr(href) ") ";
  }
  */

  .theme-dark {
    --background-primary: #222222; 
    --background-primary-alt: #444444;
    --background-secondary: #333333;
    --background-secondary-alt: #000000; 
    --background-accent: #000;
    --background-modifier-border: #565656;
    --background-modifier-form-field: rgba(0, 0, 0, 0.3);
    --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
    --background-modifier-success: #539126;
    --background-modifier-error: #9b4343;
    --background-modifier-error-rgb: 155,67,67;
    --background-modifier-error-hover: #470000;
    --background-modifier-cover: rgba(0, 0, 0, 0.6);
    --text-accent: #53aaf5;
    --text-accent-hover: #3e8de7; 
    --text-normal: #bdbdbd; 
    --text-highlight: #f3f3f3;
    --text-highlight-2: #e4e4e4;
    --text-muted: #8a8a8a;  
    --text-faint: #797979;
    --text-folder-file: #a7a7a7;
    --accent-strong: #f7f7f7;
    --accent-em: #a4ca8e;
    --text-error: #e16d76;
    --text-error-hover: #c9626a;
    --text-selection: #47a5914d;
    --text-on-accent: #dcddde;
    --interactive-normal: #20242b;
    --interactive-hover: #353b47;
    --interactive-accent: #3187d3; 
    --interactive-accent-rgb: 45, 135, 211;     
    --interactive-accent-hover: #3e8de7;
    --panel-border-color: #18191e;
    --search-text: #e0e0e0;
    --folder-title: #ffffff;
  
    --text-highlight-bg: #b0ab4e8a; /*edit*/
    --mark-highlight: #b0ab4e8a; /*preview*/
    --text-search-highlight-bg: #bb4361;
  
    --background-search-result: #444444;
    --search-result-file-matched-bg: #005fac;
  
    --background-primary-bg-4-bt: #222222; 
    --background-primary-alt-bg-4-bt: #444444;
    --background-secondary-bg-4-bt: #333333;
    --background-secondary-alt-bg-4-bt: #000000; 
    --background-4-sliding-panel: #252525ed;
  
    --background-transparent-black-or-white-1: #1b1b1b9a;
    --background-transparent-black-or-white-2: #1e1e1ebd;
    --background-transparent-black-or-white-3: #2f2f2f6c;
    --background-transparent-blue: #003e759a;
  
  
    --gray-1: #5C6370;
    --gray-2: #abb2bf;
    --red: #e06c75;
    --red-1: #d05a63;
    --orange: #d19a66;
    --green: #b6e296;
    --darkgreen: #399a58;
    --aqua: #56b6c2;
    --purple: #c678dd;
    --blue: #9dcffc;
    --darkblue: #4889df;
    --yellow: #e4ba6c;
    --light-yellow: #dfda91;
    
    --embed-color: #5c67996c;   
    --search-result-file-title-color: #96b7e4; 
    --theme-color: #3187d3;
    --theme-color-translucent: #3187d388;
    --theme-color-translucent-1: #1982dd2c;
    --color-specification: #3ce252;
  
    --allow-1: #d18828;
    --background-blockquote: #d3d3d31c;
    --background-code: #1616168c;
    --background-code-2: #444444c5;
    --text-color-code: #d58000;
    --text-color-code-normal: #e7e7e7;
  
    --internal-link-color-in-highlight: #98d6ff;
  
    /*list*/
    --list-ul-block-color: #e19742a9;
    --list-ul-disc-color: #db6019;
    --list-ul-hover: #e28915de;
    --list-ol-block-color: #2685bbb4;
    --list-ol-number-color: #95afc4;
    --list-ol-hover: #2c7bd6;
  
    /*tags*/
    --tag-text: #e4e4e4;
    --stag1: #f08383;
    --stag1-bg: #da2525;
    --stag2: #e7b263;
    --stag2-bg: #c67700;
    --stag3: #77df89;
    --stag3-bg: #08a522;
    --tag1: #0079dce8;
    --tag2: #00918ae8;
    --tag3: #008c07e8;
    --tag4: #968c00e8;
    --tag5: #ac3a06e8;
    --tag6: #ae1010e8;
    --tag7: #ae25a7e8;
    --tag8: #7734cee8;
    --tag9: #2e55ffe8;
    --color-tag-edit: #006feeb0;
    --color-tag-edit-mobile: #47cc85;
    --tag-dailynote: #98c8ff;
    --tag-dailynote-bg: #156bce;
    --tag-weeklynote: #d1e6ff;
    --tag-weeklynote-bg: #4383cc;
    --tag-questions: #d4bdff;
    --tag-questions-bg: #8157d0;
    --tag-ideas: #fcfcc0;
    --tag-ideas-bg: #565656d8;
  
    /*titles*/
    --h1-color: #92c237;
    --h2-color: #37bd32;
    --h3-color: #2dc1c1;
    --h4-color: #4495ff;
    --h5-color: #ad9fff;
    --h6-color: #ca8bee;
  
    /*old*/
    /*
    --h1-color: #4ea0e2;
    --h2-color: #35d13dd3;
    --h3-color: #dfd111e1;
    --h4-color: #f1a634d0;
    --h5-color: #f15959d0;
    --h6-color: #d06af0d0;
    */
  
    /*graph*/
    --graph-text-color: #B5B5B5; 
    /*--graphtag: #d1d43eb2;
    --graph-attach: #4ad43eb2;
    --graph-circle: #99b4d8b2;
    --graph-line: #646464;
    --graph-unresolved: #db4e4eb2;*/
    --graphtag: #88d842bb;
    --graph-attach: #b2cfe0bb;
    --graph-circle: #55a2d6bb;
    --graph-line: #8c8c8c;
    --graph-unresolved: #f08080de;
    --graph-arrow: #c23917;
  
    /*mermaid*/
    --mermaid-active-task-color: #187ef1;
    --mermaid-seq-dia-color: #1371be;
  
    /*table*/
    --table-background-color: #8a8a8a32;
    --table-background-color-odd: #0000001c;
    --table-border-color: #c0c0c0;
    --table-thead-background-color: #4e95e67e;
    --table-hover-raw-color: #3187d33d;
    --table-hover-color: #3187d388;
    --table-hover-thead-color: #298c54c7;
  
    /*calendar*/
    --calendar-week-color: #a2df94;
    --calendar-week-hover: #61815c;
    --calendar-week-background-color: #4a5842;
    --calendar-today-background-color: #8c4545;
  
    /*day planner*/
    --day-planner-pie: #f19c1c;
    --day-planner-timeline: #000000;
    --day-planner-line: #dfcf77;
    --day-planner-dot: #dfcf77;
    --day-planner-item-hover: #053c85;
    --event-item-color1: #283493bb;
    --event-item-color2: #1565c0bb;
    --event-item-color3: #00838fbb;
    --event-item-color4: #2e7d32bb;
    --event-item-color5: #9e9d24bb;
    --event-item-color6: #ff8f00bb;
    --event-item-color7: #d84315bb;
    --event-item-color8: #c62828bb;
    --event-item-color9: #ad1457bb;
    --event-item-color10:#6a1b9abb;
  
    /*kanban*/
    --kanban-color-1: #0065d852;
    --kanban-color-2: #30e4e441;
    --kanban-color-3: #1cb54f44;
    --kanban-color-4: #97b82b49;
    --kanban-color-5: #bb722d41;
    --kanban-color-6: #d12e2e42;
    --kanban-color-7: #8f36cb3f;
  
    /*colourful notes*/
    --text-gray: #acacac;
    --text-brown: #be9684;
    --text-orange: #ffa344;
    --text-yellow: #ffdc51;
    --text-green: #52c7b2;
    --text-blue: #8ca1ff;
    --text-purple: #b386f1;
    --text-pink: #ff6bba;
    --text-red: #ff4f4f;
  
    --background-gray: #535353;
    --background-brown: #493a3a;
    --background-orange: #53422f;
    --background-yellow: #585536;
    --background-green: #32503e;
    --background-blue: #2f5264;
    --background-purple: #443f57;
    --background-pink: #533b4a;
    --background-red: #683c3c;
  
    --note-important: #d64545;
    --note-cloze: #ffffff;
      
    /* stickies */
    --stickies-color-1: #84c584;
    --stickies-color-2: #c7a3cf;
    --tape-color: #99999967;
  
    /*Sliding panes*/
    --header-color: #f1a634d0;
  
    /*admonition*/
    --admonition-bg-color: #1111118f;
    
    /*checklist*/
    --checklist-bg: #1d1d1d96;
    --checklist-bg-hover: #08080896;
  
    --color-view-header-gradient-1: #000000de;
    --color-view-header-gradient-2: #002e6ac0;
  }
}