/* In the sky, v1.6, special edition_high transparency, for Blue Topaz, created by flying fly flies */
.theme-light .workspace::before {
  background-image: var(--theme-background);
  background-size : cover;
}

.theme-dark .workspace::before {
  background-image: var(--theme-background);
  background-size : cover;
}

.workspace::before {
  opacity: 1;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.theme-light .titlebar::before {
  background-image: var(--theme-background);
  background-size : cover;
}

.theme-dark .titlebar::before {
  background-image: var(--theme-background);
  background-size : cover;
}

.theme-light {
  --background-primary-bg-4-bt: #ffffffab; 
  --background-secondary-bg-4-bt: #ececec00;
  --background-secondary-alt-bg-4-bt: #ffffff00; 
  --background-primary-alt-bg-4-bt: #f7f7f7bb;
  --background-code: #fafafa94;
  --content-1               : #ffffffda;
  --theme-color             : #3e99e9;
  --text-folder-file        : #1e1e1e;

  /*--text-highlight-bg       : #3ba3f5d8;*/
  /* 云上背景 */
  --in-the-sky              : url("https://images.unsplash.com/photo-1514519334989-3d5c8b1a9f91?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  /* 蓝色山丘背景 */
  --blue-massif             : url("https://images.unsplash.com/photo-1486520299386-6d106b22014b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");

  /*蓝色海岸*/
  --orange          : url("https://images.unsplash.com/photo-1600676074626-e1f6b5981f25?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=966&q=80");

  --macaw           : url("https://images.unsplash.com/photo-1551189013-03cf5bc1c73c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=781&q=80");
  --theme-background: var(--blue-massif);
  --color-ribbon-button: #d2e9f8c4;

  --backgroud-modal:#f1f1f1;
}

.theme-dark {
  --background-primary-bg-4-bt: #202020b0; 
  --background-secondary-bg-4-bt: #16161680;
  --background-secondary-alt-bg-4-bt: #0a0a0a25; 
  --background-primary-alt-bg-4-bt: #5b5b5bab;
  --background-code: #00000081;
  --content-1               : #363636d5;
  --text-normal             : #cccccc;
  --theme-color             : #4185dd;
  --interactive-accent      : #2076c2;
  --text-muted              : #a5a5a5;
  --in-the-sky              : url("https://images.unsplash.com/photo-1556912672-78d3869a6374?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
  --blue-wave               : url("https://images.unsplash.com/photo-1613946709284-0aa74f040a12?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQ1fHxkYXJrJTIwYmx1ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
  --jellyfish-1             : url("https://images.unsplash.com/photo-1569887652102-59696fef1528?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzYzfHxkYXJrJTIwYmx1ZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80");
  --jellyfish-2             : url("https://images.unsplash.com/photo-1560568380-0aa95fee7ae9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  --dark-sky                : url("https://images.unsplash.com/photo-1611944674436-a170fbcaa773?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
  --hyacinth-macaw          : url("https://images.unsplash.com/photo-1610847034016-49565e0c068a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80");
  --cloud                   : url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1074&q=80");
  --theme-background        : var(--dark-sky);
  --color-ribbon-button: #8b9db075;
  --backgroud-modal:#252525;
}

.view-header {
  background-color: var(--background-primary-bg-4-bt);
  border-top: none;
  border-bottom: none;
}

.tree-item-flair {
  background-color: var(--background-primary-alt);
}

.workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle, 
.workspace-split.mod-right-split > .workspace-leaf-resize-handle {
  background-color: transparent;
}

.workspace-leaf-resize-handle:hover {
  background-color: var(--theme-color-translucent) !important;
}

.tag-container .tree-item-children,
.nav-folder-children .nav-folder-children {
  border-left: 2px solid var(--gray-2);
}

.workspace-tab-container-before.is-before-active .workspace-tab-header-inner,
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner,
.workspace-tab-header.is-before-active .workspace-tab-header-inner,
.workspace-tab-header.is-after-active .workspace-tab-header-inner,
.workspace-tab-header,
.workspace-tab-header-inner,
.workspace-split.mod-left-split .view-content,
.workspace-split.mod-right-split .view-content,
.workspace-tab-header.is-after-active,
.workspace-tab-header.is-before-active {
  background-color: transparent;
  border-radius   : 0%;
}

.workspace-tab-header.is-active {
  background-color: var(--background-primary-alt);
  border-radius   : 0%;
}

.workspace-split.mod-root > .workspace-leaf:first-of-type .workspace-leaf-content,
.workspace-split.mod-root > .workspace-leaf:last-of-type .workspace-leaf-content {
  border-top-right-radius: 0px;
  border-top-left-radius : 0px;
}

.workspace-split.mod-right-split .workspace-tabs .workspace-leaf {
  border-top-right-radius: 0;
}

.workspace-split.mod-left-split .workspace-tabs .workspace-leaf {
  border-top-left-radius: 0;
}

.workspace-tab-container-before,
.workspace-tab-container-after {
  width: 0;
}

.workspace-tab-header-container {
  padding: 0px 5px !important;
}

.workspace-tab-header-inner {
  padding: 9px;
}

.vertical-tab-content {
  background: transparent;
}

.nav-action-button {
  color: var(--text-normal) !important;
}

.nav-action-button.is-active {
  color: white !important;
}

/* font color */
.tree-item-inner,
.tree-item-flair,
#calendar-container .reset-button,
.workspace-ribbon-collapse-btn,
.side-dock-ribbon-tab,
.side-dock-ribbon-action,
.workspace-tab-header {
  color: var(--text-normal);
}

.titlebar::before {
  opacity: 0.8;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.titlebar-text {
  color      : var(--accent-strong);
}

.theme-light .status-bar {
  background-color: #2f92e4;
  color           : #c0dcf3;
}

.theme-dark .status-bar {
  background-color: #001647;
  color           : #a7c3da;
}

/*
.markdown-preview-view mark {
  background-color: #3ba3f5d8;
}
*/

.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian span.cm-highlight {
  background-color: var(--text-highlight-bg);
  color           : var(--text-normal);
}

.workspace-ribbon {
  border-left : none;
  border-right: none;
}

.workspace-ribbon.is-collapsed {
  border: none;
}

.status-bar {
  border: none;
}

.markdown-preview-view pre > code {
  vertical-align: auto;
  background-color: transparent;
}

.nav-folder.mod-root > .nav-folder-title {
  position: relative;
  background-color: var(--background-primary-bg-4-bt);
}

/*longform*/
.workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] .scene-container,
.workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] .draft-container {
  color: var(--text-normal) !important;
  background-color: var(--background-primary-alt-bg-4-bt) !important;
  padding-left: 5px !important;
}

.workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] .current-draft-path,
.workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] label {
  color: var(--text-normal) !important;
}

.workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] .compile-container {
  border-top: 1px solid var(--text-normal);
}

.workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] .tab-list {
  border-bottom: 1px solid var(--text-normal);
}

.theme-light .workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] select,
.theme-light .workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] button:not(.compile-button) {
  color: #0052eb !important;
}

.workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] .new-scene-container {
  border-top: 1px solid var(--text-normal);
}

.workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] input#new-scene,
.workspace-leaf-content[data-type="VIEW_TYPE_LONGFORM_EXPLORER"] input#new-draft {
  color: var(--text-normal) !important;
  background-color: var(--background-primary-alt-bg-4-bt) !important;
  padding-left: 5px;
  width: 97%;
}


@media print {
  .markdown-preview-view {
    font-family: var(--font-family-major) !important;
  }
  
  .markdown-preview-view strong {
    -webkit-print-color-adjust: exact;
    color: var(--red);
    font-family: var(--font-family-strong) !important;
    font-weight: 900 !important;
  }

  /* Print URL After Links */
  /*
  a::after{
    content: " (" attr(href) ") ";
  }
  */

  .theme-dark {
    --background-primary: #ffffff;
    --background-primary-alt: #e9e9e9;
    --background-secondary: #fcfcfc;
    --background-secondary-alt: #eeeeee;
    --background-accent: #fff;
    --background-modifier-border: #e1dfdf;
    --background-modifier-form-field: #fff;
    --background-modifier-form-field-highlighted: #fff;
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --text-accent: #007de4;
    --text-accent-hover: #4ba8ff;
    --text-normal: #0e0e0e;
    --text-muted: #7f7f7f;
    --text-highlight: #000000;
    --text-highlight-2: #000000;
    --text-faint: #7f7f7f;
    --text-folder-file: #7a7a7a;
    --accent-strong: #000000;
    --accent-em: #099d4e;
  
    --text-on-accent: #f2f2f2;
    --interactive-normal: #eaeaeb;
    --interactive-hover: #dbdbdc;
    --interactive-accent-rgb: 70, 142, 235;
    --interactive-accent: #2f92e4;
    --interactive-accent-hover: #4ba8ff;
    --panel-border-color: #dbdbdc;
    --search-text: #000000;
    --folder-title: #000000;
  
    --mark-highlight: #ffd298d8;  /*preview*/
    
    --background-search-result: #fdfdfd;
    --search-result-file-matched-bg: #ffc3c3;
  
    --background-primary-bg-4-bt: #ffffff; 
    --background-primary-alt-bg-4-bt: #e9e9e9;
    --background-secondary-bg-4-bt: #fcfcfc;
    --background-secondary-alt-bg-4-bt: #eeeeee; 
    --background-4-sliding-panel: #ffffffef;

    --tag-text: #f8f8f8;
    --text-normal: #0e0e0e;
    --internal-link-color-in-highlight: #007fd3;
    --background-code: #f7f7f7;
    --search-result-file-title-color: #2f92e4;
    --theme-color: #2f92e4;
    --theme-color-translucent: #3892dc7a;
    --theme-color-translucent-1: #2f93e426;
    --background-blockquote: #b6b6b62c;
    
    --stag1: #f08383;
    --stag1-bg: #da2525;
    --stag2: #e7b263;
    --stag2-bg: #c67700;
    --stag3: #77df89;
    --stag3-bg: #08a522;
    --tag1: #0083ee;
    --tag2: #00b8af;
    --tag3: #00ba09;
    --tag4: #c2b500fb;
    --tag5: #d54300;
    --tag6: #d11212f3;
    --tag7: #c722bf;
    --tag8: #7d32df;
    --tag9: #2e54fff5;
    --tag-dailynote-bg: #117af3;
    --tag-weeklynote-bg: #4995ec;
    --tag-questions-bg: #915fec;
    --tag-ideas-bg: #565656e1;

    /*colourful notes*/
    --text-gray: #37352f99;
    --text-brown: #855a46;
    --text-orange: #d9730d;
    --text-yellow: #d4a300;
    --text-green: #00927f;
    --text-blue: #0083bb;
    --text-purple: #5d1fb9;
    --text-pink: #c40075;
    --text-red: #ff4343;

    --background-gray: #ebeced;
    --background-brown: #e9e5e3;
    --background-orange: #faebdd;
    --background-yellow: #fbf3db;
    --background-green: #ddedea;
    --background-blue: #ddebf1;
    --background-purple: #eae4f2;
    --background-pink: #f4dfeb;
    --background-red: #ffe3e3;

    /*admonition*/
    --admonition-bg-color: #ffffffa6;

    --text-color-code: #e95d00;
    --text-color-code-normal: #000000;
    --gray-1: #383a42;
    --gray-2: #383a42;
    --red: #f13d64;
    --red-1: #f16464f5;
    --green: #63c951;
    --darkgreen: #acb5b2;
    --blue: #107fe7;
    --darkblue: #3b84e4;
    --purple: #c74df7;
    --aqua: #29bdcb;
    --yellow: #e48100;
    --light-yellow: #ab9a02;
    --orange: #db9600;
    --light-purple: #b74ff3;
    --blue-green: #3bd4da;
  }
    
  .theme-light {
    --background-primary: #ffffff;
    --background-primary-alt: #e9e9e9;
    --background-secondary: #fcfcfc;
    --background-secondary-alt: #eeeeee;
    --background-accent: #fff;
    --background-modifier-border: #e1dfdf;
    --background-modifier-form-field: #fff;
    --background-modifier-form-field-highlighted: #fff;
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
    --background-modifier-success: #A4E7C3;
    --background-modifier-error: #e68787;
    --background-modifier-error-rgb: 230, 135, 135;
    --background-modifier-error-hover: #FF9494;
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: #007de4;
    --text-accent-hover: #4ba8ff;
    --text-normal: #0e0e0e;
    --text-muted: #7f7f7f;
    --text-highlight: #000000;
    --text-highlight-2: #000000;
    --text-faint: #7f7f7f;
    --text-folder-file: #7a7a7a;
    --accent-strong: #000000;
    --accent-em: #099d4e;
    --text-error: #e75545;
    --text-error-hover: #f86959;

    --text-selection: #66bbaa59;
    --text-on-accent: #f2f2f2;
    --interactive-normal: #eaeaeb;
    --interactive-hover: #dbdbdc;
    --interactive-accent-rgb: 70, 142, 235;
    --interactive-accent: #2f92e4;
    --interactive-accent-hover: #4ba8ff;
    --panel-border-color: #dbdbdc;
    --search-text: #000000;
    --folder-title: #000000;

    --mark-highlight: #ffd298d8;  /*preview*/
    --text-highlight-bg: #ffd298d8; /*edit*/
    --text-search-highlight-bg: #ffd1dd;
    
    --background-search-result: #fdfdfd;
    --search-result-file-matched-bg: #ffc3c3;

    --background-primary-bg-4-bt: #ffffff; 
    --background-primary-alt-bg-4-bt: #e9e9e9;
    --background-secondary-bg-4-bt: #fcfcfc;
    --background-secondary-alt-bg-4-bt: #eeeeee; 
    --background-4-sliding-panel: #ffffffef;

    --background-transparent-black-or-white-1: #ffffffb0;
    --background-transparent-black-or-white-2: #ffffffca;
    --background-transparent-black-or-white-3: #eeeeee91;
    --background-transparent-blue: #c6e5ffde;

    --gray-1: #383a42;
    --gray-2: #383a42;
    --red: #f13d64;
    --red-1: #f16464f5;
    --green: #63c951;
    --darkgreen: #acb5b2;
    --blue: #107fe7;
    --darkblue: #3b84e4;
    --purple: #c74df7;
    --aqua: #29bdcb;
    --yellow: #e48100;
    --light-yellow: #ab9a02;
    --orange: #db9600;
    --light-purple: #b74ff3;
    --blue-green: #3bd4da;
    

    --embed-color: #468eeb27;
    --search-result-file-title-color: #2f92e4;
    --theme-color: #2f92e4;
    --theme-color-translucent: #3892dc7a;
    --theme-color-translucent-1: #2f93e426;
    --color-specification: #0084ff;
    --allow-1: #ec9a3c;
    --background-blockquote: #b6b6b62c;
    --background-code: #e4e4e471;
    --background-code-2: #e9e9e9c2;
    --text-color-code: #e95d00;
    --text-color-code-normal: #000000;

    --internal-link-color-in-highlight: #007fd3;

    /*list*/
    --list-ul-block-color: #b9751b;
    --list-ul-disc-color: #ff7300;
    --list-ul-hover: #dd922f;
    --list-ol-block-color: #3573a5;
    --list-ol-number-color: #a3bee0;
    --list-ol-hover: #5c95e0;
  
    /*tags*/
    --tag-text: #f8f8f8;
    --stag1: #fa8787;
    --stag1-bg: #eb2727;
    --stag2: #fdbd5c;
    --stag2-bg: #ee9002;
    --stag3: #50ce3a;
    --stag3-bg: #22ac09;
    --tag1: #1f75ffe8;
    --tag2: #2193f0e8;
    --tag3: #1eb0f3e8;
    --tag4: #17b4d0e8;
    --tag5: #17c9c9e8;
    --tag6: #12c690e8;
    --tag7: #10c919e8;
    --tag8: #61c108e8;
    --tag9: #6ab607e8;
    --color-tag-edit: #005beeec;
    --color-tag-edit-mobile: #16b52b;
    --tag-dailynote: #0077ff;
    --tag-dailynote-bg: #277CDD;
    --tag-weeklynote: #4b9fff;
    --tag-weeklynote-bg: #6aafff;
    --tag-questions: #b68fff;
    --tag-questions-bg: #b085ff;
    --tag-ideas: #ceb900;
    --tag-ideas-bg: #444444d8;

    /*Titles*/
    --h1-color: #08367c;
    --h2-color: #004faa;
    --h3-color: #0e64bb;
    --h4-color: #3481c5;
    --h5-color: #59a0e2;
    --h6-color: #88b8e6;

    /*graph*/
    --graph-text-color: #696969;
    --graphtag: #77d425cc;
    --graph-attach: #afcfe0cc;
    --graph-circle: #1f78b4cc;
    --graph-line: #b1b1b1;
    --graph-unresolved: #db4e4ecc; 
    --graph-arrow: #e25300; 

    /*mermaid*/
    --mermaid-active-task-color: #44bbff;
    --mermaid-seq-dia-color: #76c8ff;

    /*table*/
    --table-background-color: #ebebebbb;
    --table-background-color-odd: #ffffffaf;
    --table-border-color: #555555;
    --table-thead-background-color: #a7d0f1d3;
    --table-hover-raw-color: #2f93e42f;
    --table-hover-color: #4199e162;
    --table-hover-thead-color: #cde8ff;

    /*calendar*/
    --calendar-week-color: #48b432;
    --calendar-week-hover: #e9ffe3;
    --calendar-week-background-color: #d6e6bf;
    --calendar-today-background-color: #aaeec6;

    /*day planner*/
    --day-planner-pie: #eca95c;
    --day-planner-timeline: #d62f2f;
    --day-planner-line: #ffd900;
    --day-planner-dot: #ffd900;
    --day-planner-item-hover: #8fccff;
    --event-item-color1: #65ace6;
    --event-item-color2: #52a4e7;
    --event-item-color3: #2e96eb;
    --event-item-color4: #2786da;
    --event-item-color5: #1275cc;
    --event-item-color6: #2664c0;
    --event-item-color7: #1652ac;
    --event-item-color8: #0c469c;
    --event-item-color9: #0a3c86;
    --event-item-color10:#072f6b;

    /*colourful notes*/
    --text-gray: #37352f99;
    --text-brown: #855a46;
    --text-orange: #d9730d;
    --text-yellow: #d4a300;
    --text-green: #00927f;
    --text-blue: #0083bb;
    --text-purple: #5d1fb9;
    --text-pink: #c40075;
    --text-red: #ff4343;

    --background-gray: #ebeced;
    --background-brown: #e9e5e3;
    --background-orange: #faebdd;
    --background-yellow: #fbf3db;
    --background-green: #ddedea;
    --background-blue: #ddebf1;
    --background-purple: #eae4f2;
    --background-pink: #f4dfeb;
    --background-red: #ffe3e3;

    --note-important: #fd4141;
    --note-cloze: #000000;
    
    /* stickies */
    --stickies-color-1: #b3e2b3;
    --stickies-color-2: #e9c6f1;
    --tape-color: #acacac65;

    /*Sliding panes*/
    --header-color: #0e64bb;

    /*admonition*/
    --admonition-bg-color: #ffffffa6;

    /*checklist*/
    --checklist-bg: #dfdfdf8e;
    --checklist-bg-hover: #ffffffcc;

    --color-view-header-gradient-1: #a1d9ffef;
    --color-view-header-gradient-2: #e6fffbef;
  }
}