/* Kanban Neon-3 (changing colors), v0.5, for Blue Topaz, modified from https://codepen.io/Chokcoco/pen/BaQzBEG by @Chokcoco */

.theme-dark {
    --background-transparent-black-or-white-1: #232323c2;
    --background-transparent-black-or-white-2: #0f0f0f69;
    --background-transparent-black-or-white-3: #2222224d;
    --background-transparent-blue: #53a3ff41;
}

.theme-light {
    --background-transparent-black-or-white-1: #ffffffb0;
    --background-transparent-black-or-white-2: #eeeeee88;
    --background-transparent-black-or-white-3: #f5f5f583;
    --background-transparent-blue: #5eb6ff44;
}

.kanban-plugin {
    background-color: var(--background-secondary-alt-bg-4-bt) !important;
    display: flex;
    height: 100vh;
    background: #000;
}

.theme-dark .kanban-plugin__lane-header-wrapper {
    background: var(--background-transparent-blue) !important;
    padding: 5px 11px!important;
    border-radius: 6px 6px 0 0;
    margin-bottom: 5px !important;
    z-index: 100 !important;
}

.kanban-plugin__lane-wrapper:nth-child(n) {
    background: unset !important;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	transition: .3s;
    animation: huerotate-1 6s infinite linear;
    filter: hue-rotate(360deg);
}

@keyframes huerotate-1 {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rorate(360deg);
    }
}

.kanban-plugin__lane-wrapper:nth-child(n)::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250%;
    height: 300%;
    background-color: var(--background-secondary-alt) !important;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 0 0;
    background-image: conic-gradient(var(--theme-color), var(--theme-color));
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
	100% {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

.kanban-plugin__lane-wrapper:nth-child(n)::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: var(--background-secondary-alt) !important;
    border-radius: 10px;
}

.kanban-plugin__lane-wrapper:nth-child(n):hover {
    box-shadow: 0 0 5px var(--theme-color), 0 0 25px var(--theme-color);
}

.kanban-plugin__lane-wrapper:nth-child(n):hover::after,
.kanban-plugin__lane-wrapper:nth-child(n):hover::before {
    transition: .3s;
    background: var(--theme-color);
}

.kanban-plugin__lane-wrapper:nth-child(7n+2) {
    animation: huerotate-2 6s infinite linear;
    filter: hue-rotate(410deg);
}

@keyframes huerotate-2 {
    0% {
        filter: hue-rotate(50deg);
    }
    100% {
        filter: hue-rorate(410deg);
    }
}

.kanban-plugin__lane-wrapper:nth-child(7n+3) {
    animation: huerotate-3 6s infinite linear;
    filter: hue-rotate(500deg);
}

@keyframes huerotate-3 {
    0% {
        filter: hue-rotate(140deg);
    }
    100% {
        filter: hue-rorate(500deg);
    }
}

.kanban-plugin__lane-wrapper:nth-child(7n+4) {
	filter: hue-rotate(540deg);
    animation: huerotate-4 6s infinite linear;
}

@keyframes huerotate-4 {
    0% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rorate(540deg);
    }
}

.kanban-plugin__lane-wrapper:nth-child(7n+5) {
	filter: hue-rotate(580deg);
    animation: huerotate-5 6s infinite linear;
}

@keyframes huerotate-5 {
    0% {
        filter: hue-rotate(220deg);
    }
    100% {
        filter: hue-rorate(580deg);
    }
}

.kanban-plugin__lane-wrapper:nth-child(7n+6) {
	filter: hue-rotate(640deg);
    animation: huerotate-6 6s infinite linear;
}

@keyframes huerotate-6 {
    0% {
        filter: hue-rotate(280deg);
    }
    100% {
        filter: hue-rorate(640deg);
    }
}

.kanban-plugin__lane-wrapper:nth-child(7n+0) {
	filter: hue-rotate(690deg);
    animation: huerotate-7 6s infinite linear;
}

@keyframes huerotate-7 {
    0% {
        filter: hue-rotate(330deg);
    }
    100% {
        filter: hue-rorate(690deg);
    }
}